/* 全局 */
body {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../image/index.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/* 导航栏 */
.navigator ul {
    margin: 0px;
    padding: 0px;
    background-color: rgba(242, 242, 242, 0.6);
    border-bottom: 1px solid rgba(201, 201, 201, 0.5);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
}
.navigator .navigate {
    list-style-type: none;
    float: left;
}
.navigator .log {
    list-style-type: none;
    float: right;
}
.navigator a {
    display: block;
    width: 140px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: rgb(42, 41, 41);
}
.navigator li:hover {
    background-color: rgb(140, 140, 140);
    transition: 0.5s;
}
/* 顶部图片 */
.cover img {
    width: 100%;
}
/* 内容 */
.content {
    margin-top: 80px;
}
.content .head {
    text-align: center;
    background: linear-gradient(-60deg, #673ab7, #00bcd4);
    height: 120px;
    line-height: 120px;
    font-size: 40px;
}
.content h2 {
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
}
/* CRAIC赛道 */
.content .craic h3 {
    font-size: 24px;
    text-align: center;
}
.content .craic .introduce {
    border: 2px solid rgb(239, 239, 239);
    border-radius: 16px;
    box-shadow: 10px 5px 5px rgba(34, 25, 25, 0.2);
    padding: 8px;
    width: 760px;
    height: 360px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    color: rgb(245, 123, 180);
    font-size: 26px;
    font-weight: bold;
    line-height: 72px;
}
.content .craic video {
    width: 640px;
    height: 360px;
    float: right;
    margin-right: 40px;
    padding: 0;
    border: 10px solid rgba(239, 239, 239, 0.5);
    border-radius: 16px;
    box-shadow: 10px 5px 5px rgba(34, 25, 25, 0.2);
}
.content .craic ul {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.content .craic .type {
    float: left;
    width: 33.3%;
    height: 160px;
    text-align: center;
    line-height: 160px;
    margin-bottom: 20px;
    font-size: 32px;
    background:linear-gradient(60deg, rgb(0, 145, 255), rgb(102, 208, 240));
}
.content .craic .stage {
    float: left;
    width: 33.3%;
    height: 160px;
    text-align: center;
    line-height: 160px;
    margin-bottom: 20px;
    font-size: 32px;
    background:linear-gradient(30deg, rgb(255, 114, 180), rgb(255, 193, 203));
}
/* BOTEC赛道 */
.content .botec .botec_cover {
    width: 100%;
    height: 600px;
}
.content .botec h3 {
    font-size: 24px;
    text-align: center;
}
.content .botec video {
    width: 700px;
    height: 400px;
    float: right;
    margin-right: 40px;
    padding: 0;
    border: 10px solid rgba(239, 239, 239, 0.5);
    border-radius: 16px;
    box-shadow: 10px 5px 5px rgba(34, 25, 25, 0.2);
}
.content .botec .introduce {
    border: 2px solid rgb(239, 239, 239);
    border-radius: 16px;
    box-shadow: 10px 5px 5px rgba(34, 25, 25, 0.2);
    padding: 8px;
    width: 700px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    color: rgb(245, 123, 180);
    font-size: 26px;
    font-weight: bold;
    line-height: 80px;
}
.content .botec ul {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.content .botec .type {
    float: left;
    width: 33.3%;
    height: 160px;
    text-align: center;
    line-height: 160px;
    margin-bottom: 20px;
    font-size: 32px;
    background:linear-gradient(60deg, rgb(0, 145, 255), rgb(102, 208, 240));
}
.content .botec .details {
    display: block;
    text-decoration: none;
    font-size: 32px;
    color: rgb(232, 232, 232);
    background:linear-gradient(30deg, rgb(255, 114, 180), rgb(255, 193, 203));
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content .botec .details:hover {
    background: rgb(255, 117, 140);
    transition: 0.8s;
}
