/* 全局 */
body {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../image/forum.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/* 导航栏 */
.navigator ul {
    margin: 0px;
    padding: 0px;
    background-color: rgba(242, 242, 242, 0.6);
    border-bottom: 1px solid rgba(201, 201, 201, 0.5);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
}
.navigator .navigate {
    list-style-type: none;
    float: left;
}
.navigator .log {
    list-style-type: none;
    float: right;
}
.navigator a {
    display: block;
    width: 140px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: rgb(42, 41, 41);
}
.navigator li:hover {
    background-color: rgb(140, 140, 140);
    transition: 0.5s;
}
/* 内容 */
.content {
    margin-top: 60px;
    position: relative;
    margin-left: 50%;
    left: -250px;
}
/* 帖子 */
.content .cnt {
    text-align: center;
    line-height: 240px;
    background: none;
    resize: none;
    width: 400px;
    height: 240px;
}
.content .cnt_description {
    text-align: center;
    line-height: 240px;
    background: none;
    resize: none;
    width: 100px;
    height: 240px;
}
.content .name {
    text-align: center;
    line-height: 40px;
    background: none;
    resize: none;
    width: 100px;
    height: 40px;    
}
.content .information {
    text-align: center;
    line-height: 40px;
    background: none;
    resize: none;
    width: 400px;
    height: 40px;
}
.content td {
    border: 1px solid rgb(63, 63, 63);
}